@media (max-width: 481px) {

    #about {
        gap: 5rem;
    }

    /* styling skills section */
    #skills {
        justify-content: start;
        align-items: start;
    }
    
    .skills_container {
        width: var(--wfull);
        grid-template-columns: repeat(1, 1fr);
    }

    #skills button {
        left: 34%;
    }

    /* styling project */
    #projects {
        min-height: fit-content;
        justify-content: start;
        align-items: start;
    }

    .all_pro_container {
        flex-direction: column;
    }

    .project_container {
        flex-direction: column;
        width: var(--wfull);
    }

    .project1 {
        width: var(--wfull);
    }

    .project_details {
        border-radius: 6px;
        margin-top: 0;
    }

    .project1 h2 {
        font-size: 1rem;
    }

    /* stylig contact section */

    #contact {
        height: fit-content;
        justify-content: start;
        align-items: start;
    }

    
    form {
        width: 100%;
    }  
    
    .email_subject {
        gap: 1rem;
    }
    
    .email_subject input {
        width: 100%;
 
    }

    .email_subject {
        flex-direction: column;
    }
      
}
